<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="title_screen">
        <div id="empty"></div>
        <img id="logo_img" src="/img/tonys-pizza-logo.svg" alt="Pizzaman Title">
        <a href="/cart"><img id="basket_img" src="/img/tonys-pizza-basket.svg" alt="Pizzaman Basket"></a>
    </div>


    <div class="parent">
        <div id="cart">
            <%= for cart_item <- cart do %>
                <div class="pizza_item">
                    <%= for pizza <- pizzas do %>
                        <%= if Integer.to_string(pizza.id) == cart_item.pizza_id do %>
                            <h3><%=pizza.name%></h3>
                            <p><strong><%= pizza.toppings %></strong></p>
                            <%= if cart_item.modifications == "none" do %>
                              <p></p>
                            <% else %>
                              <p><strong><%= cart_item.modifications %></strong></p>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="parent">
        <form action="/cart/checkout" method="post">
            <button class="cart_checkout" type="submit">Checkout</button>
        </form>
    </div>


</body>
</html>
