<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="title_screen">
        <div id="empty"></div>
        <img id="logo_img" src="/img/tonys-pizza-logo.svg" alt="Pizzaman Title">
        <a href="/pizzas/cart"><img id="basket_img" src="/img/tonys-pizza-basket.svg" alt="Pizzaman Basket"></a>
    </div>


    <div class="parent">
        <h1>Cart items</h1>
        <div id="cart">
            <%= for pizza <- cart do %>
                <div class="pizza-item">
                    <h2><%= pizza.name %></h2>
                    <p><strong>Toppings:</strong> <%= pizza.toppings %></p>
                    <p><strong>Modifications:</strong> <%= pizza.modifications %></p>
                </div>
            <% end %>
        </div>
    </div>

    <div class="parent">
        <a href="/fruits", id="cart_checkout"> Checkout </a>
    </div>


</body>
</html>
