<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div id="title_screen">
        <div id="empty"></div>
        <img id="logo_img" src="/img/tonys-pizza-logo.svg" alt="Pizzaman Title">
        <a href="/cart"><img id="basket_img" src="/img/tonys-pizza-basket.svg" alt="Pizzaman Basket"></a>
    </div>

    <div id="pizzas">

        <%= for {pizza, index} <- Enum.with_index(pizzas) do %>
            <div class="pizza_holder <%= if rem(index, 2) == 0 do %>first_pizza<% end %>">
                <img class="pizza_img" src="/img/<%=pizza.name%>.svg" alt="<%=pizza.name%>">
                <div class="pizza_info">
                    <div class="ingredients">
                        <p><%=pizza.toppings%></p>
                    </div>
                    <div class="pizza_actions">
                        <a href="/pizzas/customize/<%=pizza.name%>" class="customize-btn" >Anpassa</a>
                        <form action="/cart/add" method="POST">
                            <input name="pizza_id" value="<%=pizza.id%>" type="hidden">
                            <button class="purchase-btn" type="submit">Köp</button>
                        </form>
                    </div>
                </div>
            </div>
        <% end %>
</body>
</html>
